.order-clock-size {
	display: flex;
	align-items: center;
}
.clock-size-select {
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    min-width: 300px;
}

.clocksize-radio {
    display: flex;
    align-items: center;
}

.clocksize-radio input[type=radio] {
	display: none;
}

.clocksize-radio label {
	cursor: pointer;
	position: relative;
	padding-left: 20px;
	margin-right: 15px;
	line-height: 18px;
	user-select: none;
}

.clocksize-radio label:before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	bottom: 2px;
    border-radius: 50%;
    border: solid 2px rgba(255, 191, 72, 0.65);
	background-color: none;
    transition: .2s all ease;
}

.clocksize-radio input[type=radio]:checked + label:before {
    background-color: rgba(255, 191, 72, 0.75);
}

.clocksize-radio label:hover:before {
	filter: brightness(110%);
}