.masters-select {
    overflow: auto;
    max-height: 200px;
    margin-bottom: 10px;
}

.order-master {
    padding: 8px 48px;
    margin-bottom: 10px;
    border-radius: 16px 0 16px 0;
    min-width: 300px;
    font-size: 24px;
    transition: .2s all ease;
}

.order-master:hover {
    cursor: pointer;
    background-color: rgba(255, 200, 100, 0.45);
}

.order-master.active {
    background-color: rgb(255, 200, 100);
}

.nomasters-msg {
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    max-width: 300px;
}
