.admin-nav {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100vw;
    background-color: rgba(255, 200, 100, 0.65);
}

.admin-nav-links {
    font-size: 20px;
    font-weight: 700;
    color: orange;
    text-decoration: none;
    padding: 5px;
    margin: 0 20px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.admin-nav-links:last-of-type {
    margin-left: auto;
}

.list-item {
    width: 100%;
    padding: 10px 0 10px 20px;
    font-size: 20px;
    background-color: rgba(255, 180, 50, 0.2);

    transition: .2s all ease;
}

.list-item:hover {
    cursor: pointer;
    background-color: rgba(255, 180, 50, 0.3);
}