.order-form, .order-options-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-form label {
    font-size: 20px;
}

.order-name, .order-email, .order-city, .order-date, .order-time {
    min-width: 300px;
    font-size: 22px;
    padding: 3px;
    margin: 10px;
    background-color: rgba(255, 200, 100, 0.45);
}

.order-name:-webkit-autofill,
.order-email:-webkit-autofill {
    box-shadow: inset 0 0 0 20px rgba(255, 200, 100, 0.7) !important;
}

