.successful-order {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.successful-order h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.successful-order h3 {
    font-size: 20px;
    margin: 15px 0 40px;
}

.successful-order p {
    font-size: 22px;
    line-height: 40px;
}