.submit-btn{
    min-width: 130px;
    min-height: 40px;
    font-size: 20px;
    font-weight: 700;
    
    background-color: rgb(255, 191, 72);
    color: rgb(255, 235, 180);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);

    border-radius: 8px;
    border: none;

    transition: .2s all ease;
}

.submit-btn:hover {
    cursor: pointer;
    color: rgb(255, 179, 0);
    background-color: rgba(255, 179, 38, 0.6);
}