.admin-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
} 

.admin-modal-content {
    padding: 25px;
    background: white;
    border-radius: 12px;
    min-width: 300px;
    text-align: center;
}

.admin-modal input[type=submit]{
    margin: 10px;
}