.master-cities-select {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 10px 0;
}

.master-cities-checkbox {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.master-cities-checkbox input[type=checkbox] {
	display: none;
}

.master-cities-checkbox label {
	cursor: pointer;
	position: relative;
	padding-left: 20px;
	margin: 0 auto;
	user-select: none;
}

.master-cities-checkbox label:before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	bottom: 4px;
    border-radius: 4px;
    border: solid 2px rgba(255, 191, 72, 0.65);;
	background-color: none;
    transition: .2s all ease;
}

.master-cities-checkbox input[type=checkbox]:checked + label:before {
    background-color: rgba(255, 191, 72, 0.75);
}

.master-cities-checkbox label:hover:before {
	filter: brightness(110%);
}