.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-form>label {
    display: flex;
    flex-direction: column;
}

.modal-form-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}